<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Testing Python</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap-grid.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/css/bootstrap-reboot.css') }}">
</head>
<body>
	<form action="/simpan" method="POST" accept-charset="utf-8">
		<div>
			<div class="form-group">
		    	<label for="exampleFormControlInput1">Nama</label>
		    	<input type="text" name="name" placeholder="Nama Kontak">
  			</div>
  			<div class="form-group">
		    	<label for="exampleFormControlInput1">Nomor</label>
		    	<input type="text" name="nomor" placeholder="Nomor Kontak">
  			</div>
  			<div class="form-group">
  				<input type="submit" name="submit" value="Submit">		
  			</div>	
		</div>
		
  	</form>
</body>
<script src="{{ url_for('static',filename='assets/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static',filename='assets/js/bootstrap.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="{{ url_for('static',filename='assets/js/bootstrap.bundle.js') }}" type="text/javascript" charset="utf-8" async defer></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>